<ion-content>
  <div>
    <ion-card class="example-card">
      <ion-card-header>
        <ion-card-title style="color: black;">Asistencia</ion-card-title>
        <button><ion-icon name="camera-outline"(click)="escanear()">Escanear QR</ion-icon></button>
      </ion-card-header>
      <mat-card-content>
        <div>
          <ion-card class="example-card">
            <ion-list>
              <ion-item>
                {{qrScan}}
              </ion-item>

              <ion-item>
                {{qrScan.seccion}}
              </ion-item>

              <ion-item>
                {{qrScan.asignatura}}
              </ion-item>

              <ion-item>
                {{qrScan.docente}}
              </ion-item>

              <ion-item>
                {{qrScan.correo}}
              </ion-item>
            </ion-list>
           </ion-card>
        </div>
      </mat-card-content>
    </ion-card>
  </div>  
</ion-content>