ion-content{
    --ion-background-color:white;
}

ion-card-title{
    --ion-background-color:black;
}

.example-card{
    background-color : rgba(189, 189, 189, 0.774);
}

.cuerpo{
    background: white;
}
.ion-card-content{
    background-color: chartreuse;
}
.ion-list{
    background-color: #ffffff;
}